<!DOCTYPE html>
<html>
  <head>
    <title>Test App</title>
    <% include head %>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>Test</h1>
        </div>
        <div class="col-sm-12">
          <% parsedData.forEach((user) => { %> 
            <% const userData =user.first_name+' '+user.last_name %> 
            <li>
              <%= userData %>:
              <br>
              longitude: <%= user.longitude %>
              <br>
              latitude: <%= user.latitude %>
            </li>
            <br>
          <%}) %>
        </div>
      </div>
    </div>
  </body>
</html>
