<!DOCTYPE html>
<html>
  <head>
    <title>Test App</title>
    <% include head %>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>Test</h1>
        </div>
        <div class="col-sm-12">
          <% nearLondon.forEach((user)=>{ %> 
            <li>
              <%= user.first_name+' '+user.last_name %>
              <br>
              longitude: <%= user.longitude %>
              <br>
              latitude: <%= user.latitude %>

            </li>
            <br>
            <% }) %>
        </div>
      </div>
    </div>
  </body>
</html>
